span {
    margin-left: 10px
}

#content {
    margin-top: 5%;
    text-align: center;
}

#header {
    margin-top: 5%;
}

#bodyer {
    margin-top: 5%;
}

#footer {
    margin-top: 5%;
    margin-bottom: 5%;
}

.banner {
    background: #FFC048;
}