{% extends 'maneu/base_uesrs.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/maneu_order/order_detail.css' %}">
{% endblock %}
{% block javascript %}
    {# delete model #}
    <script type="application/javascript" src="{% static 'js/maneu/delete.js' %}"></script>
    {# print model #}
    <script src="https://cdn.bootcdn.net/ajax/libs/jQuery.print/1.6.2/jQuery.print.js"></script>
    <script type="text/javascript" src="{% static 'js/maneu/print.js' %}"></script>
    {# echarts model #}
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script type="text/javascript" src="{% static 'js/maneu_datalogs/echarts.js' %}"></script>
    {# 视力标准 echarts start #}
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main0'), 'maneu');
        var option = {
            title: {
                text: '视力',
                textStyle: {
                    fontSize: 18,
                    fontWeight: 'bolder',
                },
            },
            tooltip: {
                formatter: function (datas) {
                    return datas.value.toFixed(1);
                }
            },
            legend: {
                data: ['左眼视力', '右眼视力']
            },
            xAxis: {
                data: ['左眼视力', '右眼视力'],
            },
            yAxis: {
                min: 0.2,
                max: 1.2,
                axisLabel: {
                    formatter: function (value, index) {
                        return value.toFixed(1)
                    }
                }
            },
            series: [{
                type: 'bar',
                barWidth: 20,
                data: [{{ subjectiverefraction.OS_VA|safe }}, {{ subjectiverefraction.OD_VA|safe }}],
                markLine: {
                    symbol: "none",
                    data: [{
                        label: {
                            position: "middle",
                            formatter: "标准值：1.0",
                            fontSize: "10",
                        },
                        yAxis: 1.0,
                    }],
                    silent: true,
                },
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    {# 眼轴长度 echarts start #}
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main1'), 'maneu');
        var option = {
            title: {
                text: '眼轴长度',
                textStyle: {
                    fontSize: 18,
                    fontWeight: 'bolder',
                },
            },
            tooltip: {},
            legend: {
                data: ['左眼眼轴', '右眼眼轴']
            },
            xAxis: {
                data: ['左眼眼轴', '右眼眼轴'],
            },
            yAxis: {
                name: 'mm',
                min: 16,
                max: 28,
                axisLabel: {
                    formatter: function (value, index) {
                        return value.toFixed(1)
                    }
                }
            },
            series: [{
                type: 'bar',
                barWidth: 20,
                data: [{{ list_r|safe }}, {{ list_l|safe }}],
                markLine: {
                    symbol: "none",
                    data: [{
                        label: {
                            position: "middle",
                            formatter: "标准值: " + {{ stand_ax|safe }} + "mm",
                            fontSize: "10",
                        },
                        yAxis: {{ stand_ax|safe }},
                    }],
                    silent: true,
                    color: ["#99CC33"], // 折线的颜色
                },
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 3%; margin-bottom: 5%">
        <div class="col-12">
            <table class="table table-bordered table-sm text-left" id="textArea">
                <tr class="banner">
                    <td colspan="12">
                        <b>验光中心信息（Optometry center information）</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>中心名称</span>
                    </td>
                    <td colspan="2">
                        <span>{{ users.nickname }}</span>
                    </td>
                    <td colspan="2">
                        <span>联系电话</span>
                    </td>
                    <td colspan="2">
                        <span>{{ users.phone }}</span>
                    </td>
                    <td colspan="2">
                        <span>所在地址</span>
                    </td>
                    <td colspan="4">
                        <span>{{ users.localtion }}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>特色服务</span>
                    </td>
                    <td colspan="10">
                        <span>{{ users.remark }}</span>
                    </td>
                </tr>
                <tr class="banner">
                    <td colspan="12">
                        <b>客户信息（Guess information）</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>姓名</span>
                    </td>
                    <td colspan="2">
                        <span>电话</span>
                    </td>
                    <td>
                        <span>性别</span>
                    </td>
                    <td>
                        <span>年龄</span>
                    </td>
                    <td>
                        <span>眼位</span>
                    </td>
                    <td>
                        <span>主视眼</span>
                    </td>
                    <td colspan="4">
                        <span>病族史</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>{{ guess.name }}</span>
                    </td>
                    <td colspan="2">
                        <span>{{ guess.phone }}</span>
                    </td>
                    <td>
                        <span>{{ guess.sex }}</span>
                    </td>
                    <td>
                        <span>{{ guess.age }}</span>
                    </td>
                    <td>
                        <span>{{ guess.ot }}</span>
                    </td>
                    <td>
                        <span>{{ guess.em }}</span>
                    </td>
                    <td colspan="4">
                        <span>{{ guess.dfh }}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>备注</span>
                    </td>
                    <td colspan="10">
                        <span>{{ guess.remark }}</span>
                    </td>
                </tr>
                <tr class="banner">
                    <td colspan="12">
                        <b>屈光检验结果（Subjective refraction）</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>参数</span>
                    </td>
                    <td>
                        <span>裸眼视力 VA</span>
                    </td>
                    <td>
                        <span>球镜 SPH</span>
                    </td>
                    <td>
                        <span>柱镜 CYL</span>
                    </td>
                    <td>
                        <span>轴位 AX</span>
                    </td>
                    <td>
                        <span>角膜曲率 AK</span>
                    </td>
                    <td>
                        <span>眼轴长度 AL</span>
                    </td>
                    <td>
                        <span>矫正视力 BCVA</span>
                    </td>
                    <td>
                        <span>前房深度 AD</span>
                    </td>
                    <td>
                        <span>角膜厚度 CCT</span>
                    </td>
                    <td>
                        <span>晶体厚度 LT</span>
                    </td>
                    <td>
                        <span>玻璃体厚度 VT</span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span>右眼</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_VA }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_SPH }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_CYL }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_AX }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_AK }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_AL }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_BCVA }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_AD }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_CCT }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_LT }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OD_VT }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>左眼</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_VA }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_SPH }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_CYL }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_AX }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_AK }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_AL }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_BCVA }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_AD }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_CCT }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_LT }}</span>
                    </td>
                    <td>
                        <span>{{ subjectiverefraction.OS_VT }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>验光师建议</span>
                    </td>
                    <td colspan="11">
                        <span>{{ subjectiverefraction.remark }}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div id="main0" style="width: 100%;height:400px;"></div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div id="main1" style="width: 100%;height:400px;"></div>
            </div>
        </div>
        <div class="col-12 row" style="text-align: center;">
            <div class="col-md-2 col-sm-6">
                <a class="btn btn-primary" type="button" href="{% url 'maneu_client:index' %}">返回列表</a>
            </div>
            <div class="col-md-2 col-sm-6">
                <button class="btn btn-primary" id="print_btn">打印信息</button>
            </div>
            <div class="col-md-2 col-sm-6">
                <form action="{% url 'maneu_client:orderList' %}" method="post">
                    {% csrf_token %}
                    <input name="id" type="hidden" value="{{ guess.id }}">
                    <input name="phone" type="hidden" value="{{ guess.phone }}">
                    <input type="submit" class="btn btn-primary" value="订单列表">
                </form>
            </div>
            <div class="col-md-2 col-sm-6">
                <form action="{% url 'maneu_client:delete' %}" method="post">
                    {% csrf_token %}
                    <input name="id" type="hidden" value="{{ guess.id }}">
                    <input type="submit" id="delete" class="btn btn-danger" value="删除信息">
                </form>
            </div>
            <div class="col-md-2 col-sm-6">
                <form action="{% url 'maneu_client:update' %}" method="get">
                    <input name="id" type="hidden" value="{{ guess.id }}">
                    <input type="submit" class="btn btn-warning" value="修改信息">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
