{% extends 'maneu/base_uesrs.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!--内容栏-->
        <table class="table col-12">
            <tr>
                <td class="col-9" colspan="3">
                    <h5>客户信息管理系统</h5>
                </td>
                <td class="col-3">
                    <form method="post" action="{% url 'maneu_client:search' %}">
                        <div class="input-group input-group-sm">
                            {% csrf_token %}
                            <input type="text" name="text" class="form-control" placeholder="使用手机或姓名查询">
                            <input type="submit" class="btn btn-primary" value="查询">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <span>客户姓名</span>
                </td>
                <td>
                    <span>客户电话</span>
                </td>
                <td>
                    <span>录入时间</span>
                </td>
                <td align="right">
                    <form class="col-5" method="get" action="{% url 'maneu_client:insert' %}">
                        <div class="input-group input-group-sm">
                            <input type="submit" class="btn btn-warning col-12" value='添加订单'>
                        </div>
                    </form>
                </td>
            </tr>
            {% if list %}
                {% for foo in list %}
                    <tr>
                        <td>
                            <span>{{ foo.name }}</span>
                        </td>
                        <td>
                            <span>{{ foo.phone }}</span>
                        </td>
                        <td>
                            <span>{{ foo.time }}</span>
                        </td>
                        <td align="right">
                            <div class="col-12 row">
                                <form class="col-3 offset-6" method="post" action="{% url 'maneu_client:delete' %}">
                                    {% csrf_token %}
                                    <div class="input-group input-group-sm">
                                        <input type="hidden" name="id" value="{{ foo.id }}">
                                        <input type="submit" class="btn btn-danger col-12" id="delete" value="删除">
                                    </div>
                                </form>
                                <form class="col-3" method="post" action="{% url 'maneu_client:detail' %}">
                                    {% csrf_token %}
                                    <div class="input-group input-group-sm">
                                        <input type="hidden" name="id" value="{{ foo.id }}">
                                        <input type="submit" class="btn btn-primary col-12" value="查看">
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" align="center">
                        <span>没有订单</span>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td align="left">
                    <form class="col-5" method="get" action="{% url 'maneu_client:index' %}">
                        <div class="input-group input-group-sm">
                            <input type="hidden" name="time" class="form-control" value="{{ down_day|safe }}">
                            <input type="submit" class="btn btn-primary col-12" value="{{ down_day|safe }}">
                        </div>
                    </form>
                </td>
                <td colspan="2" align="center">
                    <form class="col-6" method="get" action="{% url 'maneu_client:index' %}">
                        <div class="input-group input-group-sm">
                            <input type="date" name="time" class="form-control" value="{{ time|safe }}">
                            <input type="submit" class="btn btn-primary" value="查询">
                        </div>
                    </form>
                </td>
                <td align="right">
                    <form class="col-5" method="get" action="{% url 'maneu_client:index' %}">
                        <div class="input-group input-group-sm">
                            <input type="hidden" name="time" class="form-control" value="{{ up_day|safe }}">
                            <input type="submit" class="btn btn-primary col-12" value="{{ up_day|safe }}">
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="application/javascript" src="{% static 'js/maneu/delete.js' %}"></script>
{% endblock %}
