{% extends 'maneu/base_uesrs.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <table class="table">
            <tr>
                <td colspan=4>
                    <div class="row">
                        <h5 class="col-md-9">客户资料管理系统</h5>
                        <form class="col-md-3" method="post" action="{% url 'maneu_client:search' %}">
                            <div class="input-group input-group-sm">
                                {% csrf_token %}
                                <input type="text" name="text" class="form-control" placeholder="使用手机或姓名查询">
                                <input type="submit" class="btn btn-primary" value="查询">
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="blue">
                    <span>客户姓名</span>
                </td>
                <td class="blue">
                    <span>客户电话</span>
                </td>
                <td class="blue">
                    <span>录入时间</span>
                </td>
                <td class="blue" align="right">
                    <form CLASS="col-4" method='get' action="{% url 'maneu_client:insert' %}">
                        <div class="input-group input-group-sm">
                            <input type='submit' class='btn btn-warning col-sm-12' value='添加客户'>
                        </div>
                    </form>
                </td>
            </tr>
            {% for order in orderlist %}
                <tr>
                    <td class="blue col-sm-3">
                        <span>{{ order.name }}</span>
                    </td>
                    <td class="blue col-sm-3">
                        <span>{{ order.phone }}</span>
                    </td>
                    <td class="blue col-sm-3">
                        <span>{{ order.time }}</span>
                    </td>
                    <td class="blue col-sm-3" align="right">
                        <form CLASS="col-4" method="post" action="{% url 'maneu_client:detail' %}">
                            {% csrf_token %}
                            <div class="input-group input-group-sm">
                                <input type="hidden" name="id" value="{{ order.id }}">
                                <input type="submit" class="btn btn-primary col-sm-12" value="详细信息">
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td colspan=1 align="right">
                    <form CLASS="col-4" method="post" action="{% url 'maneu_client:index' %}">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input type="submit" class="btn btn-primary col-sm-12" value="返回列表">
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}