{% extends 'maneu/base_uesrs.html' %}
{% load static %}
={% block javascript %}
    <script type="text/javascript" src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script type="text/javascript" src="{% static 'js/maneu_datalogs/echarts.js' %}"></script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main1'), 'maneu');
        var option = {
            title: {
                text: '本月录入数据统计',
                subtext: {{ order_count }} + '单',
                textStyle: {
                    fontSize: 18,
                    fontWeight: 'bolder',
                },
            },
            tooltip: {},
            legend: {
                data: ['本月销量']
            },
            xAxis: {
                data: ['01日', '02日', '03日', '04日', '05日', '06日', '07日', '08日', '09日', '10日', '11日', '12日', '13日', '14日', '15日', '16日', '17日', '18日', '19日', '20日', '21日', '22日', '23日', '24日', '25日', '26日', '27日', '28日', '29日', '30日', '31'],
            },
            yAxis: {},
            series: [{
                name: '本月销量',
                type: 'line',
                data: {{ order_log|safe }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main2'), 'maneu');
        var option = {
            title: {
                text: '本月销售金额统计',
                subtext: {{ money_count }} + '元',
                textStyle: {
                    fontSize: 18,
                    fontWeight: 'bolder',
                },
            },
            tooltip: {},
            legend: {
                data: ['金额统计']
            },
            xAxis: {
                data: ['01日', '02日', '03日', '04日', '05日', '06日', '07日', '08日', '09日', '10日', '11日', '12日', '13日', '14日', '15日', '16日', '17日', '18日', '19日', '20日', '21日', '22日', '23日', '24日', '25日', '26日', '27日', '28日', '29日', '30日', '31'],
            },
            yAxis: {},
            series: [{
                name: '当日销售金额',
                type: 'bar',
                data: {{ money_log|safe }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main3'), 'maneu');
        var option = {
            title: {
                text: '各品牌销售份额',
                {#subtext: '共计'{{ class_count }},#}
                textStyle: {
                    fontSize: 18,
                    fontWeight: 'bolder',
                    // 主标题文字颜色
                },
            },
            tooltip: {},
            legend: {
                data: ['金额统计']
            },
            series: [{
                name: '销售份额',
                type: 'pie',
                data: {{ brand_log | safe }},
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main4'), 'maneu');
        var option = {
            title: {
                text: '各货类销售份额',
                {#subtext: '共计'{{ class_count }},#}
                textStyle: {
                    fontSize: 18,
                    fontWeight: 'bolder',
                    // 主标题文字颜色
                },
            },
            tooltip: {},
            legend: {
                data: ['金额统计']
            },
            series: [{
                name: '销售份额',
                type: 'pie',
                data: {{ class_log | safe }},
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid row">
        <h3 class="col-2">徕可数据可视化</h3>
        <div class="col-10">
            <form class="col-3 offset-9" method="post" action="{% url 'maneu_datalogs:index' %}">
                {% csrf_token %}
                <div class="input-group input-group-sm">
                    <span class="input-group-text">时间</span>
                    <input class="form-control date_time" name="time" type="date" autocomplete="off" required="required"
                           value="{{ day|safe }}">
                    <input class="form-control" type="submit">
                </div>
            </form>
        </div>
        <div id="main1" style="width: 100%;height:400px;"></div>
        <div id="main2" style="width: 100%;height:400px;"></div>
        <div id="main3" style="width: 50%;height:400px;"></div>
        <div id="main4" style="width: 50%;height:400px;"></div>

    </div>
{% endblock %}
