{% extends 'maneu/base.html' %}
{% load static %}
{% block javascript %}
    <script type="application/javascript">
        web_detail = "{% url 'maneu_guest:detail' %}"
        api_search = "{% url 'maneu_guest:api_search' %}"
        api_delete = "{% url 'maneu_guest:api_delete' %}"
    </script>
    <script type="application/javascript" src='{% static "javascript/maneu_order/index.js" %}'></script>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 2%; margin-bottom: 4%;">
        <div class="col-12 row">
            <div class="col-4">
                <h5>客户管理</h5>
            </div>
            <div class="col-8">
                <div class="vertical1 input-group input-group-sm">
                    <span class="input-group-text">开始时间</span>
                    <input autocomplete="off" class="form-control" id="timeS" min="2020-01-01 00:00" max="{{ timeE }}" type="datetime-local" value="{{ timeS }}">
                    <span class="input-group-text">结束时间</span>
                    <input autocomplete="off" class="form-control" id="timeE" min="2020-01-01 00:00" max="{{ timeE }}" type="datetime-local" value="{{ timeE }}">
                    <input type="text" class="col-12 form-control" id="value" placeholder="使用手机或姓名查询">
                    <input type="button" class="btn btn-primary" id="search_button" value="搜索">
                </div>
            </div>
        </div>
        <hr style="color:white;">
        <div style="" class="col-12 row">
            <div class="col-2">
                <p>录入时间</p>
            </div>
            <div class="col-1">
                <p>客户姓名</p>
            </div>
            <div class="col-1">
                <p>客户电话</p>
            </div>
            <div class="col-7">
                <p>客户备注</p>
            </div>
            <div class="col-1">
                <form method="get" action="{% url 'maneu_order:insert' %}">
                    <div class='input-group input-group-sm'>
                        <input type="submit" class="col-12 btn btn-warning" value='添加客户'>
                    </div>
                </form>
            </div>
        </div>
        <hr style="color:white;">
        <div id="body"></div>
    </div>
{% endblock %}
