{% extends 'maneu/base.html' %}
{% load static %}
{% block content %}

    <div class="container" style="margin-top: 2%; margin-bottom: 4%;">

        <form action="{% url 'maneu_store:index' %}" class="vertical2" method="get">
            <div class="vertical1 col-1">
                <div class="input-group">
                    <input class="btn btn-primary" type="submit" value="返回列表">
                </div>
            </div>
        </form>
        <hr>


        {# 客户基础数据 #}
        <form class="vertical2">
            <button class="vertical1 btn btn-primary" id="guest_show" type="button">客户数据 > 展开参数</button>
            <button class="vertical1 btn btn-primary" id="guest_hide" type="button">客户数据 < 收起参数</button>

            <div class="vertical1 col-6">
                <div class="input-group">
                    <span class="input-group-text">时间</span>
                    <input autocomplete="off" type="datetime-local" class="form-control" id="time">
                </div>
            </div>

            <div class="vertical1 col-6">
                <div class="input-group">
                    <span class="input-group-text">姓名</span>
                    <input autocomplete="off" type="text" class="form-control" id="name">
                    <span class="input-group-text">电话</span>
                    <input autocomplete="off" type="text" class="form-control" id="phone">
                </div>
            </div>
            <div id="guest_content">
                <div class="vertical1 col-9">
                    <div class="input-group">
                        <span class="input-group-text col-1">性别</span>
                        <input autocomplete="off" type="text" class="form-control" id="sex" list="sexList">
                        <span class="input-group-text col-1">年龄</span>
                        <input autocomplete="off" type="text" class="form-control" id="age" list="age">
                        <span class="input-group-text col-1">眼位</span>
                        <input autocomplete="off" type="text" class="form-control" id="ot" list="otList">
                        <span class="input-group-text col-1">主视眼</span>
                        <input autocomplete="off" type="text" class="form-control" id="em" list="emList">
                        <span class="input-group-text col-1">病族史</span>
                        <input autocomplete="off" type="text" class="form-control" id="dfh" list="dfhList">
                    </div>
                </div>
            </div>
            <div class="vertical1 col-6">
                <div class="input-group">
                    <span class="input-group-text">备注</span>
                    <input autocomplete="off" type="text" class="form-control" id="guestRemark">
                </div>
            </div>
            <button class="vertical1 btn btn-warning" id="guestUpdate" type="button">更新数据</button>
        </form>
        <hr>


        {# 产品信息 #}
        <form class="vertical2">
            <button class="vertical1 btn btn-primary" type="button">产品订单</button>
            <div id="guest_content">
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key10">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val10">
                    </div>
                </div>
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key20">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val20">
                    </div>
                </div>
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key30">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val30">
                    </div>
                </div>
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key40">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val40">
                    </div>
                </div>
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key50">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val50">
                    </div>
                </div>
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key60">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val60">
                    </div>
                </div>
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key70">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val70">
                    </div>
                </div>
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key80">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val80">
                    </div>
                </div>
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key90">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val90">
                    </div>
                </div>
                <div class="vertical1 col-6">
                    <div class="input-group">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义标题" id="key00">
                        <input class="form-control" autocomplete="off" type="text" placeholder="自定义参数" id="val00">
                    </div>
                </div>
            </div>
        </form>
        <hr>


        {# 提交或返回按钮 #}
        <form class="vertical2 row">
            <div class="vertical1 col-1">
                <div class="input-group">
                    <input class="btn btn-danger" id="delete" type="button" value="删除订单">
                </div>
            </div>

            <div class="vertical1 col-1">
                <div class="input-group">
                    <input class="btn btn-danger" id="generate_qr_code" type="button" value="生成二维码">
                </div>
            </div>
        </form>

    </div>

{% endblock %}
{% block javascript %}
    <script>
        index_id = "{{ index_id }}"
        store_QRcode = "{% url 'maneu_store:api_QRcode' %}"
        store_detail = "{% url 'maneu_store:api_detail' %}"
        store_delete = "{% url 'maneu_store:api_delete' %}"
        store_update = "{% url 'maneu_store:api_update' %}"
        guest_update = "{% url 'maneu_guest:api_update' %}"
    </script>
    <script src="{% static 'js/maneu_store/detail20260418.js' %}" type="application/javascript"></script>
    <link href="{% static 'css/maneu_order/detail20251229.css' %}" rel="stylesheet">
{% endblock %}
