{% extends 'maneu/base_uesrs.html' %}
{% load static %}

{% block content %}
    <!--内容栏-->
    <table class="table">
        <tr class="yellow">
            <td colspan="6">
                <p>镜片信息</p>
            </td>
        </tr>
        <tr class="yellow">
            <td style="width: 17%">
                <span>品牌:</span>
                <span>{{ glass.brand }}</span>
            </td>
            <td style="width: 17%">
                <span>型号:</span>
                <span>{{ glass.model }}</span>
            </td>
            <td style="width: 17%">
                <span>度数:</span>
                <span>{{ glass.sphere }}</span>
            </td>
            <td style="width: 17%">
                <span>散光:</span>
                <span>{{ glass.astigmatic }}</span>
            </td>
            <td style="width: 17%">
                <span>折射:</span>
                <span>{{ glass.refraction }}</span>
            </td>
            <td style="width: 17%">
                <span>数量:</span>
                <span>{{ glass.count }}</span>
            </td>
        </tr>
        <tr class="yellow">
            <td style="width: 17%">
                <a href="{% url 'maneu_store:glass_list' %}" type="button"
                   class="col-md-12 btn btn-primary">返回仓库</a>
            </td>
            <td style="width: 17%">
                <button class="col-md-12 btn btn-primary">销售记录</button>
            </td>
            <td style="width: 17%">
                <button class="col-md-12 btn btn-primary" id="update_show">调整数量</button>
                <button class="col-md-12 btn btn-primary" id="update_hide" style="display: none">取消</button>
            </td>
            <td>
                <button class="col-md-12 btn btn-danger" id="update_btn" style="display: none">确定</button>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr class="yellow" id="update_table" style="display: none">
            <form id="update">
                {% csrf_token %}
                <td colspan="5">
                    <input type="hidden" name="store_id" value="{{ glass.store_id }}">
                    <input type="range" name="count" class="col-md-12 custom-range" step="1" min="1" max="999"
                           id="count" form="update">
                </td>
                <td>
                    <span>数量:</span>
                    <span id="count_msg">500</span>
                </td>
            </form>
        </tr>
    </table>
{% endblock %}
{% block js %}
    <script src="{% static 'js/common/../../static/js/maneu/input_range.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#update_show').click(function () {
                $('#update_table').show()
                $('#update_hide').show()
                $('#update_show').hide()
                $('#update_btn').show()
            })
            $('#update_hide').click(function () {
                $('#update_table').hide()
                $('#update_hide').hide()
                $('#update_show').show()
                $('#update_btn').hide()

            })
            $('#update_btn').click(function () {
                console.log($('#update').serialize())
            })
        })
    </script>
{% endblock %}