{% extends 'maneu/base_uesrs.html' %}
{% load static %}

{% block content %}
    <table class="table">
        <tr>
            <td style="width: 15%">
                <p class="yellow">品牌</p>
            </td>
            <td style="width: 15%">
                <p class="yellow">型号</p>
            </td>
            <td style="width: 15%">
                <p class="yellow">度数</p>
            </td>
            <td style="width: 15%">
                <p class="yellow">散光</p>
            </td>
            <td style="width: 15%">
                <p class="yellow">折射</p>
            </td>
            <td style="width: 15%">
                <p class="yellow">数量</p>
            </td>
            <td style="width: 15%">
                <form method="get" action="{% url 'maneu_store:glass_insert' %}">
                    <input type="submit" class="btn btn-primary" value="添加产品">
                </form>
            </td>
        </tr>
        {% for glass in glass_list %}
            <tr>
                <td>
                    <p class="yellow">{{ glass.brand }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.model }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.sphere }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.astigmatic }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.refraction }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.count }}</p>
                </td>
                <td>
                    <form method="get" action="{% url 'maneu_store:glass_content' %}">
                        <input type="hidden" name="store_id" value="{{ glass.store_id }}">
                        <input type="submit" value="查看库存" class="btn btn-primary">
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="6"></td>
            <td>
                <form method="get" action="{% url 'maneu_store:store_list' %}">
                    <input type="submit" class="btn btn-primary" value="返回列表">
                </form>
            </td>
        </tr>

    </table>
{% endblock %}