{% extends 'maneu/base.html' %}
{% load static %}
{% block css %}
<link href="{% static '/css/maneu_index/index.css' %}" rel="stylesheet" type="text/css"/>
<link href="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.css" rel="stylesheet"
      type="text/css"/>
{% endblock %}
{% block javascript %}
<script src="https://cdn.staticfile.org/moment.js/2.29.4/moment.min.js" type="application/javascript"></script>
<script src="https://cdn.staticfile.org/moment.js/2.29.4/locale/zh-cn.js" type="application/javascript"></script>
<script src="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.js"
        type="application/javascript"></script>
{#https://www.datetimepicker.cn/daterangepicker/#}


<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js" type="text/javascript"></script>
<script src="{% static 'javascript/maneu_index/echarts.js' %}" type="text/javascript"></script>


<script type="text/javascript">
    api_index = "{% url 'maneu_index:api_index' %}"
</script>
<script src="{% static 'javascript/maneu_index/index.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-2 offset-10">
        <div class="input-group input-group-sm">
            <input class="form-control" id="reportrange" type="text">
        </div>
    </div>
    <div class="main" id="main1"></div>
</div>
{% endblock %}
