{% extends 'maneu/base_uesrs.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <table class="table" style="margin-top: 3%; margin-bottom: 5%">
            <tr class="blue">
                <td colspan="2">
                    <h5>商家资料</h5>
                </td>
            </tr>
            <tr class="blue">
                <td style="width: 10%">名称</td>
                <td style="width: 90%">{{ maneu_users.nickname }}</td>
            </tr>
            <tr class="blue">
                <td style="width: 10%">账号</td>
                <td style="width: 90%">{{ maneu_users.username }}</td>
            </tr>
            <tr class="blue">
                <td style="width: 10%">地址</td>
                <td style="width: 90%">{{ maneu_users.localtion }}</td>
            </tr>

            <tr class="blue">
                <td style="width: 10%">电话</td>
                <td style="width: 90%">{{ maneu_users.phone }}</td>
            </tr>
            <tr class="blue">
                <td style="width: 10%">邮件</td>
                <td style="width: 90%">{{ maneu_users.email }}</td>
            </tr>
            <tr class="blue">
                <td style="width: 10%">创建时间</td>
                <td style="width: 90%">{{ maneu_users.create_time }}</td>
            </tr>
            <tr class="blue">
                <td style="width: 10%">商家特色</td>
                <td style="width: 90%">{{ maneu_users.remark }}</td>
            </tr>
            <tr class="blue">
                <td style="width: 10%">账户操作</td>
                <td style="width: 90%">
                    <button class="btn btn-warning">
                        <a style="color: black" href="{% url 'maneu_users:user_updata' %}">修改资料</a>
                    </button>
                    <button class="btn btn-warning">
                        <a style="color: black" href="{% url 'login' %}">退出登录</a>
                    </button>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/common/../../static/js/maneu/windos_back.js' %}"></script>
{% endblock %}