{% extends 'maneu/base_uesrs.html' %}
{% load static %}
{% block content %}
    <!--内容栏-->
    <table class="table">
        <tr class='yellow'>
            <td>用户昵称</td>
            <td>用户账号</td>
            <td>用户状态</td>
            <td>用户地址</td>
            <td>等级权限</td>
            <td>创建时间</td>
            <td>
                <form method="get" action="{% url 'maneu_users:user_insert' %}">
                    <input type="submit" class="btn btn-primary col-md-12" value="添加">
                </form>
            </td>
        </tr>
        {% for user in user_list %}
            <tr class='yellow'>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.state }}</td>
                <td>{{ user.localtion }}</td>
                <td>{{ user.level }}</td>
                <td>{{ user.create_time }}</td>
                <td>
                    <form method="get" action="{% url 'maneu_users:user_detail' %}">
                        <input type="hidden" name="user_id" value="{{ user.user_id }}">
                        <input type="submit" class="btn btn-primary col-md-12" value="查看">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block js %}
    <script>
        user_freeze = "{% url 'maneu_users:api_user_freeze' %}";
        user_unfreeze = "{% url 'maneu_users:api_user_unfreeze' %}"
    </script>
    <script>
        $(document).ready(function () {
            $("#btn_freeze").click(function () {
                $.ajax({
                    url: user_freeze,
                    type: "POST",
                    data: $("#user_freeze").serialize(),
                    success: function (res) {
                        $("#user_unfreeze").show();
                        $("#user_freeze").hide();
                        alert(res)
                    }
                })
            })
            $("#btn_unfreeze").click(function () {
                $.ajax({
                    url: user_unfreeze,
                    type: "POST",
                    data: $("#user_unfreeze").serialize(),
                    success: function (res) {
                        $("#user_freeze").show();
                        $("#user_unfreeze").hide();
                        alert(res)
                    }
                })
            })
        })
    </script>
{% endblock %}