{% extends 'maneu/base_uesrs.html' %}
{% load static %}
{% block content %}
    <div class="container blue">
        <div class="col-md-6 offset-md-3" style="margin-top: 20%; margin-bottom: 20%">
            <form method="post" action="{% url 'maneu_users:user_updata' %}">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">密码验证</span>
                    <input type="text" name="old_password" id="old_passwor" class="form-control"
                           placeholder="请输入登录密码">
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">商家名称</span>
                    <input type="text" name="nickname" id="nickname" class="form-control"
                           value="{{ maneu_users.nickname }}">
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">商家地址</span>
                    <input type="text" name="localtion" id="localtion" value="{{ maneu_users.localtion }}"
                           class="form-control">
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">手机号码</span>
                    <input type="text" name="phone" id="phone" value="{{ maneu_users.phone }}" class="form-control">
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">电子邮箱</span>
                    <input type="text" name="email" id="email" value="{{ maneu_users.email }}" class="form-control">
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">修改密码</span>
                    <input type="password" name="password" id="password" value="{{ maneu_users.password }}"
                           class="form-control">
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">特色服务</span>
                    <input type="text" name="remark" id="remark" value="{{ maneu_users.remark }}" class="form-control">
                </div>
                <br>
                {% if msg %}<p>{{ msg }}</p>{% endif %}
                <input type="submit" class="col-md-12 btn btn-warning">
            </form>
            <br>
            <form method='GET' action="{% url 'maneu_order:order_list' %}">
                <input type="submit" class="col-md-12 btn btn-primary" value='返回'>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        user_insert = "{% url 'maneu_users:api_user_insert' %}";
    </script>
    <script src="{% static 'js/common/../../static/js/maneu/windos_back.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#btn-insert").click(function () {
                $.ajax({
                    url: user_insert,
                    type: "POST",
                    data: $("#user_insert").serialize(),
                    success: function (res) {
                        if (res.code === 0) {
                            alert(res.msg)
                        } else if (res.code === 1) {
                            alert("请求错误")
                        } else if (res.code === 2) {
                            for (i in res.msg) {
                                $("#" + i).append(res.msg[i])
                            }
                        } else if (res.code === 3) {
                            alert(res.msg)
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}
