{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>徕可</title>
    <link href="{% static 'images/maneu/logo.svg' %}" rel="icon">
    <link href="{% static 'css/maneu/base.css' %}" rel="stylesheet">
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.8/cerulean/bootstrap.min.css"
          integrity="sha512-3n/Isj9MCqCc1wf/QfjLigco9sx9xr9m3TqgxstJrSxmwZ05qjl4owbfkioZ0y3w8fNWcVLnJGHfVqKF/L1Qsw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script crossorigin="anonymous"
            integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>


<body class="blue">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <img src="{% static 'images/maneu/logo.svg' %}" style="height: 30px">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link">数据可视化</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'maneu_order:index' %}">订单管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'maneu_report:index' %}">报告管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'maneu_guest:index' %}">客户管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'maneu_admin:index' %}">个人中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">退出登录</a>
            </li>
            {#            <li class="nav-item dropdown">#}
            {#                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'maneu_admin:index' %}"#}
            {#                   id="navbardrop">个人中心</a>#}
            {#                <div class="dropdown-menu">#}
            {#                    <a class="dropdown-item" href="{% url 'maneu_admin:index' %}">修改资料</a>#}
            {#                    <a class="dropdown-item" href="{% url 'logout' %}">退出登录</a>#}
            {#                </div>#}
            {#            </li>#}
        </ul>
    </div>
</nav>
{% block content %} {% endblock %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
</body>


<footer>
    <a href="https://beian.miit.gov.cn">粤ICP备2023070483号</a>
</footer>
</html>
