{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>徕可</title>
    <link href="{% static 'images/maneu/logo.svg' %}" rel="icon">
    <link href="{% static 'css/maneu/index.css' %}" rel="stylesheet">

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.8/cerulean/bootstrap.min.css"/>
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body style="background: #003153">
<div class="container">
    <div class="content row justify-content-center">
        <div class="header">
            <a href="{% url 'maneu_order:index' %}">
                <img alt="Cinque Terre" class="col-md-2 col-6 img-responsive"
                     src="{% static 'images/maneu/logo.svg' %}">
                <h4>徕可</h4>
            </a>
        </div>
        <div class="body">
            <h4>官方授权许可正品</h4>
            <p>Officially licensed products</p>
        </div>
        <div class="body">
            <div>
                <p>执行标准：</p>
            </div>
            <div>
                <a href="http://www.bz.bzko.com/bzxx/56116.html" style="color: #FFC048" style="color: #FFC048">QB/T2506-2017</a>
            </div>
            <div>
                <a href="https://wenku.baidu.com/view/edf15852a417866fb94a8e06.html" style="color: #FFC048">GB10810.3-2006</a>
            </div>
            <div>
                <a href="http://openstd.samr.gov.cn/bzgk/gb/newGbInfo?hcno=A587E31519ED1F6BFF23FC9132469137"
                   style="color: #FFC048">GB/T38120-2019</a>
            </div>
            <div>
                <p>光安全要求</p>
            </div>
        </div>
    </div>
</div>
</body>

<footer class="fixed-bottom text-center">
    <a href="https://beian.miit.gov.cn" style="color: #FFC048">粤ICP备2023070483号</a>
</footer>
