{% extends 'maneu/base_all.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/maneu/index.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="content row justify-content-center">
            <div style="height: 25%; margin-top: 5%; text-align: center;">
                <a href="{% url 'maneu_order:index' %}">
                    <img src="{% static 'img/logo.svg' %}" class="col-md-2 col-6 img-responsive" alt="Cinque Terre">
                    <h4 class="blue">徕可</h4>
                </a>
            </div>
            <div style="height: 25%; text-align: center;">
                <h4 class="blue">官方授权许可正品</h4>
                <p class="blue">Officially licensed products</p>
            </div>
            <div style="height: 25%; text-align: center;">
                <div>
                    <p class="blue">执行标准：</p>
                </div>
                <div>
                    <a class="blue" href="http://www.bz.bzko.com/bzxx/56116.html">QB/T2506-2017</a>
                </div>
                <div>
                    <a class="blue" href="https://wenku.baidu.com/view/edf15852a417866fb94a8e06.html">GB10810.3-2006</a>
                </div>
                <div>
                    <a class="blue"
                       href="http://openstd.samr.gov.cn/bzgk/gb/newGbInfo?hcno=A587E31519ED1F6BFF23FC9132469137">GB/T38120-2019</a>
                </div>
                <div>
                    <p class="blue">光安全要求</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}