{% extends 'maneu/base_all.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/maneu/login.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="login-wrapper">
            <div class="header">徕可管理系统</div>
            <div class="form-wrapper">
                <form method="post" action="{% url 'login' %}" class="test1">
                    {% csrf_token %}
                    <label for="username">账号:</label>
                    <input type="text" name="username" class="input-item" placeholder="username" autocomplete="off">
                    <label for="password">密码:</label>
                    <input type="password" name="password" class="input-item" placeholder="password" autocomplete="off"><br>
                    {% if msg %}<span class="msg">{{ msg }}</span>{% endif %}
                    <input type="submit" class="btn" value="登录">
                </form>
                <a style="color: white" href="{% url 'index' %}">
                    <button class="btn">返回</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

